$green-dark-primary: mat.define-palette(mat.$green-palette, 700, 300, 900);
$green-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A700);
$green-dark-warn: mat.define-palette(mat.$red-palette, A200);

$green-dark-theme: mat.define-dark-theme((
  color: (
    primary: $green-dark-primary,
    accent: $green-dark-accent,
    warn: $green-dark-warn,
  )
));