$pink-dark-primary: mat.define-palette(mat.$pink-palette, 600, 400, 800);
$pink-dark-accent: mat.define-palette(mat.$blue-grey-palette, 600, 300, 900);
$pink-dark-warn: mat.define-palette(mat.$red-palette, A200);

$pink-dark-theme: mat.define-dark-theme((
  color: (
    primary: $pink-dark-primary,
    accent: $pink-dark-accent,
    warn: $pink-dark-warn,
  )
));