$red-light-primary: mat.define-palette(mat.$red-palette, 800, 300, 900);
$red-light-accent: mat.define-palette(mat.$green-palette, 600, 300, 900);
$red-light-warn: mat.define-palette(mat.$deep-orange-palette, A400);

$red-light-theme: mat.define-light-theme((
  color: (
    primary: $red-light-primary,
    accent: $red-light-accent,
    warn: $red-light-warn,
  )
));