$teal-light-primary: mat.define-palette(mat.$teal-palette, 800, 300, 900);
$teal-light-accent: mat.define-palette(mat.$amber-palette, A200, A100, A700);
$teal-light-warn: mat.define-palette(mat.$red-palette, A200);

$teal-light-theme: mat.define-light-theme((
  color: (
    primary: $teal-light-primary,
    accent: $teal-light-accent,
    warn: $teal-light-warn,
  )
));