<div fxFlex fxLayout="column" *ngIf="community$ | async as community; else loading">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
    <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="flex-p">
      <h3>
        {{ getCommunityTitle() }}
      </h3>
    </div>
    <button *ngIf="order !== 'VI'" mat-icon-button (click)="viewCommunityInfo()" matTooltip="Mas información">
      <mat-icon svgIcon="external-link"></mat-icon>
    </button>
  </div>
  <div fxFlex class="flex-p">
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Información">
        <div fxFlex fxLayout="column" class="flex-p">
          <div fxFlex>
            <p>{{ community?.description }}</p>
            <p *ngIf="order === 'VI'">La información de los <em>Pastizales del Este</em> aun no esta disponible.</p>
          </div>
          <div fxFlex fxLayout="column" *ngIf="species$ | async as species" class="flex-p">
            <span>
              <strong *ngIf="species && species.length > 0">Especies Indicadoras:</strong>
              <a *ngFor="let specie of species; let i = index" [routerLink]="['specie', specie.id]">
                <span>{{ i === 0 ? ' ' : ', ' }}</span>
                <span>{{ specie.name }}</span>
              </a>
            </span>
          </div>
          <div fxFlex fxLayout="column" *ngIf="subcommunities$ | async as subcommunities">
            <app-subcommunity
              fxFlex
              *ngFor="let subcommunity of subcommunities"
              [communityId]="id"
              [subcommunity]="subcommunity"
            ></app-subcommunity>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Productividad">
        <div fxFlex fxLayout="column" fxLayoutAlign="start">
          <mat-radio-group
            fxFlex
            fxFlexLayout="row"
            fxLayoutAlign="space-around center"
            aria-labelledby="example-radio-group-label"
            class="chart-options"
            [(ngModel)]="selectedPPNAChart"
            (change)="changePPNAChart()"
          >
            <mat-radio-button *ngFor="let ppnaChartsType of ppnaChartsTypes" [value]="ppnaChartsType.id">
              {{ ppnaChartsType.label }}
            </mat-radio-button>
          </mat-radio-group>
          <div *ngIf="selectedPPNAChart === 'HISTORICAL_CHART'" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div
              class="historical-chart"
              echarts
              [options]="historicalChartOptions"
              [merge]="updateHistoricalOptions"
              (chartInit)="onHistoricalChartInit($event)"
            ></div>
          </div>
          <div
            *ngIf="selectedPPNAChart === 'ANNUAL_CHART'"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="center center"
            class="annual-chart"
          >
            <div
              class="annual-chart"
              echarts
              [options]="annualChartOptions"
              [merge]="updateAnnualOptions"
              (chartInit)="onAnnualChartInit($event)"
            ></div>
          </div>
          <div *ngIf="selectedPPNAChart === 'MONTHLY_CHART'" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <div
              class="monthly-chart"
              echarts
              [options]="monthlyChartOptions"
              [merge]="updateMonthlyOptions"
              (chartInit)="onMonthlyChartInit($event)"
            ></div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-template #loading> Espere por favor... </ng-template>
