<div fxLayout="row wrap" *ngIf="showNavigator()">
  <div fxFlex="100" class="flex-p">
    <mat-card fxLayout="row" class="breadcrumb">
      <a
        *ngIf="pageSection === 'ZONES'"
        routerLink="zones"
        class="breadcrumb-item"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <mat-icon>dashboard</mat-icon>
        <span class="breadcrumb-title">Zonas</span>
      </a>
      <a
        *ngIf="pageSection === 'POLICE_SECTIONS'"
        routerLink="police-sectionals"
        class="breadcrumb-item"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <mat-icon>local_police</mat-icon>
        <span class="breadcrumb-title">Seccionales Policiales</span>
      </a>
      <a
        *ngIf="pageSection === 'BASINS'"
        routerLink="basins"
        class="breadcrumb-item"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <mat-icon>water</mat-icon>
        <span class="breadcrumb-title">Cuencas</span>
      </a>
      <a
        *ngIf="pageSection === 'PADRONES'"
        routerLink="/padrones"
        class="breadcrumb-item"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <mat-icon>select_all</mat-icon>
        <span class="breadcrumb-title">Padrones</span>
      </a>
      <a
        *ngIf="pageSection === 'COMMUNITIES'"
        routerLink="/communities"
        class="breadcrumb-item"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <mat-icon>library_books</mat-icon>
        <span class="breadcrumb-title">Comunidades</span>
      </a>

      <div
        *ngFor="let breadcrumb of breadcrumbs; let i = index"
        class="breadcrumb-item"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <a [hidden]="i === breadcrumbs.length - 1" [routerLink]="[breadcrumb.url]">{{ breadcrumb.name }}</a>
        <span [hidden]="i !== breadcrumbs.length - 1" class="breadcrumb-title active">{{ breadcrumb.name }}</span>
      </div>
    </mat-card>
  </div>
</div>
