<div fxLayout="row wrap" *ngIf="router.url !== '/' && router.url !== '/communities'">
  <div fxFlex="100" class="flex-p">
    <mat-card fxLayout="row" class="breadcrumb">
      <ng-container *ngIf="router.url.startsWith('/communities'); then communitiesHome; else zonesHome"> </ng-container>
      <div
        *ngFor="let breadcrumb of breadcrumbs; let i = index"
        class="breadcrumb-item"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <a [hidden]="i === breadcrumbs.length - 1" [routerLink]="[breadcrumb.url]">{{ breadcrumb.name }}</a>
        <span [hidden]="i !== breadcrumbs.length - 1" class="breadcrumb-title active">{{ breadcrumb.name }}</span>
      </div>
    </mat-card>
  </div>
</div>

<ng-template #zonesHome>
  <a routerLink="/" class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon>dashboard</mat-icon>
    <span class="breadcrumb-title">Zonas</span>
  </a>
</ng-template>
<ng-template #communitiesHome>
  <a routerLink="/communities" class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon>library_books</mat-icon>
    <span class="breadcrumb-title">Comunidades</span>
  </a>
</ng-template>
