<div class="map-layers-container">
  <div class="layers-btn-container">
    <button class="layers-btn" mat-icon-button *ngIf="!showLayers" (click)="show()">
      <mat-icon>layers</mat-icon>
    </button>
  </div>

  <div fxFlex fxLayout="column" *ngIf="showLayers">
    <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
      <span class="layers-container-title">Información</span>
      <button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-selection-list
      class="layers-container"
      #layers
      (selectionChange)="toggleLayer($event, layers.selectedOptions)"
      dense
    >
      <mat-list-option
        checkboxPosition="before"
        *ngFor="let layer of mapLayers"
        [value]="layer.id"
        [selected]="layer.isVisible"
        [disabled]="!layer.isEditable"
      >
        <div fxflex fxLayout="row">{{ layer.description }} ({{ layer.label }})</div>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
