@import 'variables';
.map-layers-container {
  margin-top: 5px;
  margin-right: 5px;
}

.layers-btn-container {
  background-color: #fff;
}

.layers-btn {
  width: 32px !important;
  height: 32px !important;
  padding: 4px !important;
}

.layers-container {
  background-color: azure;
  opacity: 0.8;
}

.layers-container-title {
  font-size: large;
  margin-left: $flex-distance;
}
