<div fxFlex fxLayout="column" *ngIf="community$ | async as community; else loading">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="flex-p">
    <div fxFlex fxLayout="column" fxLayoutAlign="start start" class="flex-p">
      <h3>
        {{ getCommunityTitle() }}
      </h3>
    </div>
    <button *ngIf="order !== 'VI'" mat-icon-button (click)="viewCommunityInfo()" matTooltip="Mas información">
      <mat-icon svgIcon="external-link"></mat-icon>
    </button>
  </div>
  <div fxFlex class="flex-p">
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Información">
        <div fxFlex fxLayout="column" class="flex-p">
          <div fxFlex>
            <p>{{ community?.description }}</p>
            <p *ngIf="order === 'VI'">La información de los <em>Pastizales del Este</em> aun no esta disponible.</p>
          </div>
          <div fxFlex fxLayout="column" *ngIf="species$ | async as species" class="flex-p">
            <span>
              <strong *ngIf="species && species.length > 0">Especies Indicadoras:</strong>
              <a *ngFor="let specie of species; let i = index" [routerLink]="['specie', specie.id]">
                <span>{{ i === 0 ? ' ' : ', ' }}</span>
                <span>{{ specie.name }}</span>
              </a>
            </span>
          </div>
          <div fxFlex fxLayout="column" *ngIf="subcommunities$ | async as subcommunities">
            <app-subcommunity
              fxFlex
              *ngFor="let subcommunity of subcommunities"
              [communityId]="id"
              [subcommunity]="subcommunity"
            ></app-subcommunity>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Radiación absorbida">
        <app-community-apar-analysis [zone]="zone"></app-community-apar-analysis>
      </mat-tab>
      <mat-tab label="Productividad">
        <app-community-ppna-analysis [zone]="zone"></app-community-ppna-analysis>
      </mat-tab>
      <mat-tab label="Rendimiento Hidrológico">
        <app-community-rh-analysis [zone]="zone"></app-community-rh-analysis>
      </mat-tab>
      <mat-tab label="Evapotranspiración">
        <app-community-et-analysis [zone]="zone"></app-community-et-analysis>
      </mat-tab>
      <mat-tab label="IOSE">
        <app-community-iose-analysis [zone]="zone"></app-community-iose-analysis>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<ng-template #loading> Espere por favor... </ng-template>
