<div fxLayout="row wrap">
  <img src="assets/img/logos.png" />
</div>
<div fxFlex class="flex-p">
<mat-tab-group>
      <mat-tab label="Información">
        1
      </mat-tab>
      <mat-tab label="Radiación absorbida">
        2
      </mat-tab>
      <mat-tab label="Productividad">
        3
      </mat-tab>
      <mat-tab label="Rendimiento Hidrológico">
        4
      </mat-tab>
      <mat-tab label="Evapotranspiración">
        5
      </mat-tab>
      <mat-tab label="IOSE">
        6
      </mat-tab>
      <mat-tab label="Cobertura">
        7
      </mat-tab>
      <mat-tab label="Soil">
        Soil
      </mat-tab>
      <mat-tab label="AHPPN">
        AHPPN
      </mat-tab>
      <mat-tab label="EFT">
        EFT
      </mat-tab>
      <mat-tab label="AHPPN1">
        AHPPN
      </mat-tab>
      <mat-tab label="EFT2">
        EFT
      </mat-tab>
    </mat-tab-group>
    </div>
