<div class="police-sectional-title">
  <div fxFlex fxLayout="column">
    <div *ngIf="zone && zone.type; else loading" fxFlex fxLayout="row wrap" fxLayoutAlign="space-between stretch">
      <!-- <mat-icon class="zone-type-icon" svgIcon="{{ zone.type | lowercase }}"></mat-icon> -->
      <div fxFlex fxLayout="column" class="zone-name">
        <h2>{{ getZoneName() }}</h2>
        <h4>{{ getZoneDescription() }}</h4>
      </div>
      <!-- <div>Options here</div> -->
    </div>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Información">
    <div
      *ngIf="zoneInformation$ | async as zoneInformation; else loading"
      fxFlex
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.lt-md="start stretch"
      class="flex-p"
    >
      <div fxFlex fxFill fxLayout="column" fxLayoutAlign="start stretch">
        <app-police-sectional-area-info [zoneInformation]="zoneInformation"></app-police-sectional-area-info>
      </div>
      <!-- <div
        fxFlex
        fxFill
        *ngIf="zone.properties && zone.properties.length > 0"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        class="flex-p"
      >
        <app-police-sectional-properties [properties]="zone.properties"></app-police-sectional-properties>
      </div> -->
    </div>
  </mat-tab>
  <mat-tab label="Radiación absorbida">
    <app-police-sectional-apar-analysis
      *ngIf="!isLoadingZone; else loading"
      [zone]="zone"
    ></app-police-sectional-apar-analysis>
  </mat-tab>
  <mat-tab label="Productividad">
    <app-police-sectional-ppna-analysis
      *ngIf="!isLoadingZone; else loading"
      [zone]="zone"
    ></app-police-sectional-ppna-analysis>
  </mat-tab>
  <mat-tab label="Rendimiento Hidrológico">
    <app-police-sectional-rh-analysis
      *ngIf="!isLoadingZone; else loading"
      [zone]="zone"
    ></app-police-sectional-rh-analysis>
  </mat-tab>
  <mat-tab label="Evapotranspiración">
    <app-police-sectional-et-analysis
      *ngIf="!isLoadingZone; else loading"
      [zone]="zone"
    ></app-police-sectional-et-analysis>
  </mat-tab>
  <mat-tab label="IOSE">
    <app-police-sectional-iose-analysis
      *ngIf="!isLoadingZone; else loading"
      [zone]="zone"
    ></app-police-sectional-iose-analysis>
  </mat-tab>
  <mat-tab label="Cobertura">
    <app-mapbiomas-analysis *ngIf="!isLoadingZone; else loading" [zone]="zone"></app-mapbiomas-analysis>
  </mat-tab>
  <mat-tab label="Diversidad">
    <app-police-sectional-eft-analysis *ngIf="!isLoadingZone; else loading" [zone]="zone"></app-police-sectional-eft-analysis>
  </mat-tab>
  <mat-tab label="Conservación">
    <app-police-sectional-soil-analysis *ngIf="!isLoadingZone; else loading" [zone]="zone"></app-police-sectional-soil-analysis>
  </mat-tab>
  <mat-tab label="Apropiación Humana">
    <app-police-sectional-ahppn-analysis *ngIf="!isLoadingZone; else loading" [zone]="zone"></app-police-sectional-ahppn-analysis>
  </mat-tab>
</mat-tab-group>

<ng-template #loading>
  <div fxFlex fxLayout="row" class="m-1">
    <mat-spinner diameter="20" class="m-1"></mat-spinner>
    <h3 class="m-1">{{ texts.loadingMessage }}</h3>
  </div>
</ng-template>
