<h2 mat-dialog-title>Adicionar Padrón</h2>
<form [formGroup]="addPadronForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Departamento</mat-label>
      <mat-select formControlName="selectedDepartment">
        <mat-option *ngFor="let department of departments" [value]="department.id">
              {{ department.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Número de Padrón</mat-label>
      <input matInput formControlName="padronNumber" placeholder="Entre el número de padrón" />
    </mat-form-field>
     <mat-error *ngIf="addPadronForm.controls.padronNumber.errors && addPadronForm.controls.padronNumber.touched">
        {{ getPadronErrorMessage() }}
      </mat-error>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="m-1">
      <button mat-button [mat-dialog-close]="null">Cancelar</button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="isLoading"
        style="display: inline-flex; align-items: center"
      >
        <mat-icon *ngIf="!isLoading">add</mat-icon>
        <span>Adicionar</span>
      </button>
    </div>
    <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
  </mat-dialog-actions>
</form>
