<div fxFlex fxLayout="column" fxLayoutAlign="start stretch" class="flex-p">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <strong fxFlex>Subcomunidad {{ subcommunity.order }}</strong>
    <button mat-icon-button>
      <mat-icon>image</mat-icon>
    </button>
  </div>
  <div fxFlex class="flex-p">
    <span>
      <strong>Especies Indicadoras:</strong>
      <a *ngFor="let specie of subcommunity.indicatorSpecies; let i = index" [routerLink]="['specie', specie.id]">
        <span>{{ i === 0 ? ' ' : ', ' }}</span>
        <span>{{ specie.name }}</span>
      </a>
    </span>
  </div>
  <div fxFlex class="flex-p">
    <span>
      <strong>Especies Predominantes:</strong>
      <a *ngFor="let specie of subcommunity.predominantSpecies; let i = index" [routerLink]="['specie', specie.id]">
        <span>{{ i === 0 ? ' ' : ', ' }}</span>
        <span>{{ specie.name }}</span>
      </a>
    </span>
  </div>
</div>

<ng-template #loadingMessage> Cargando... </ng-template>
