.zone-type-icon {
  margin: 0 4px;
}

.chart-options {
  margin: 20px;
}

.annual-chart {
  height: 400px;
  width: 100%;
}

.historical-chart {
  height: 400px;
  width: 100%;
}

.monthly-chart {
  height: 400px;
  width: 100%;
}

.communities-chart {
  height: 400px;
  width: 100%;
}

mat-progress-bar {
  height: 2em;
}