<div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between stretch">
  <div fxFlex class="flex-p" style="height: 100%">
    <div style="height: 100%">
      <google-map width="100%" height="100%" [options]="gmOptions"></google-map>
    </div>
    <!-- <div *ngIf="apiLoaded | async" style="height: 100%">
      <google-map width="100%" height="100%" [options]="gmOptions"></google-map>
    </div> -->
  </div>
  <div fxFlex class="flex-p">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>list</mat-icon>
          Zonas ({{ definedZones ? definedZones.length : 0 }})
        </ng-template>
        <div fxFlex fxLayout="column" class="zones-container">
          <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="zones-actions">
            <div fxFlex>
              <mat-form-field>
                <input matInput style="padding-left: 5px" [(ngModel)]="searchText" />
                <mat-icon matSuffix style="font-size: small" *ngIf="searchText && searchText.length > 0"
                  >close</mat-icon
                >
                <mat-icon matPrefix style="font-size: small">search</mat-icon>
              </mat-form-field>
            </div>
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addZone()">
                  <mat-icon>add</mat-icon>
                  <span>Adicionar...</span>
                </button>
                <button mat-menu-item (click)="importZones()">
                  <mat-icon>file_download</mat-icon>
                  <span>Importar...</span>
                </button>
                <button mat-menu-item (click)="exportZones()">
                  <mat-icon>file_upload</mat-icon>
                  <span>Exportar...</span>
                </button>
                <button mat-menu-item (click)="deleteZones()" [disabled]="!definedZones || definedZones.length === 0">
                  <mat-icon>delete</mat-icon>
                  <span matTooltip="Eliminar zonas">Eliminar...</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <div fxLayout="column" *ngFor="let zone of definedZones | deepFilter: searchText:keysToExclude">
            <div
              fxFlex
              fxLayout="row"
              fxLayoutAlign="center center"
              [ngClass]="{ 'zone-active': zone.name === selectedZone }"
            >
              <div>
                <mat-icon class="zone-type-icon" svgIcon="{{ zone.type | lowercase }}"></mat-icon>
              </div>
              <div fxFlex (click)="selectZone(zone)">{{ zone.name }}</div>
              <div>
                <button mat-icon-button (click)="toogleZone(zone)">
                  <mat-icon *ngIf="zone.visible" matTooltip="Ocultar la zona">visibility_off</mat-icon>
                  <mat-icon *ngIf="!zone.visible" matTooltip="Mostrar la zona">visibility_on</mat-icon>
                </button>
                <button mat-icon-button (click)="viewZone(zone)">
                  <mat-icon>info</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteZone(zone)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </div>
            </div>
            <!-- <div fxFlex fxLayout="column" *ngIf="zone.name === selectedZone">
              <span *ngIf="zone.type === 'marker'">Coordinates</span>
              <span *ngIf="zone.type !== 'marker'">AREA</span>
              <span>Comunidades</span>
              <span>Productividad</span>
            </div> -->
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div id="containerLayers"></div>
</div>
