@import 'variables';

:host {
  height: 100%;
}

.icon-display {
  transform: scale(0.5);
  padding-bottom: 10;
}

.layers-btn {
  margin: 100px;
}

.zones-btn {
  margin: $flex-distance;
}
.zone-active {
  background-color: #eee;
  font-weight: bold;
}

.zone-type-icon {
  width: 12px;
  height: 12px;
  margin-right: $flex-distance;
}

.zones-container {
  overflow-y: hide;
}
